body {
    background-color: #fffffff5;
}
trix-editor {
    min-height: 400px;
    overflow: auto;
}

.icono {
    width: 10px;
}

.dropzone{ 
    border: 2px dashed #c1c1c1;

    .dz-error{
        display: none;
    }

    .dx-message .dz-button{
        color: #666;
    }
}