body {
    font-family: $parrafos-font-family;
    background-color: #fffffff5;
}

trix-editor {
    min-height: 150px;
    overflow: auto!important;
}

.icono {
    width: 10px;
}

.nuevos-anuncios {
    font-family: 'Cabin', sans-serif;
    color: #333;
    font-size: 1.8rem;
    border-bottom: 3px solid #ED4646 !important;
    display: inline-block;
    padding-bottom: .5rem;
    padding-right: 2rem;
}